::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #636262;
}

.outlinedText {
  letter-spacing: 0.3cqmin;
  font-weight: 1000;
  color: black;
  -webkit-text-stroke: 2px white;
}
.input {
  background: transparent;
  color: #636262;
}
.focused {
  transform: translateY(-25px);
  font-size: 0.75rem; /* Adjust the font size as needed */
  color: #ffffff; /* Change the color when focused */
}

.navBar::-webkit-scrollbar {
  height: 4px !important;
}

.navBar::-webkit-scrollbar-track {
  background: transparent;
}
.navBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888888;
}
